/*Tailwind Like Styles*/
.flex{
  display: flex;
}

.flex-col{
  flex-direction: column;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.items-center{
  align-items: center;
}

.items-end{
  align-items: end;
}

.self-end{
  align-self: flex-end;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.full{
  width: 100%;
  height: 100%;
}

.flex-1{
  flex: 1 1 0%;
}

/*****************************************************/

button{
  margin: 2px;
  cursor: pointer;
}

#emails{
  margin-left: 4rem;
  margin-top: 2rem;
}

.email{
  width:500px;
  height: 140px;
  border: 1px solid black;
  margin-top: 1rem;
}

.visible-0{
  display: none;
}

.visible-false{
  display: none;
}

#edit-email-form{
  margin-left: 50px;
  margin-top: 50px;
}

.dark{
  background-color: #25433c;
  color: white;
}