:root {
    --bg-color: #C9A661;
    --button-color: #1189df;
    --accent-color: darkslategray;
}

body {
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* main * {
    background-color: blueviolet;
} */

h1 {
    font-weight: lighter;
    color: darkslategray;
}

.email-editor-section {
    /* display: flex; */
    margin: auto;
    width: 80%;
}

.editor-row {
    /* border-bottom: 1px solid; */
    border-color: var(--accent-color);
    /* padding: 5px 0px 5px 0px; */
    margin: 5px;
}

.editor-title-row {
    /* margin: 5px; */
    /* padding-left: 5px; */
}

input>editor-row.single-input-field {
    padding-left: 12px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    background-color: white;
    /* padding-top: 5px; */
}


/* Remove the border of TinyMCE's default editor */
.tox-tinymce {
    border-style: solid !important;
    border-radius: 5px !important;
    border-color: var(--accent-color) !important;
    border-width: 1px !important;
}

/* #subject-row {
    border-bottom: 3px;
}

#recipient-row {
    /* border-top: 3px !important; */
    /* border-width: 3px 0px 1px 0px;
    border-width: 1px;
    border-style: solid;
} */

.email-field {
    width: 30%;
    height: auto;
    border: none;
    padding: 5px;
    line-height: 30px;
    /* font-weight: 400em; */
    font-size: medium;
    padding-left: 12px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    background-color: white;
}

.email-button-group {
    /* margin: auto !important;
    width: 100% !important; */
}

#button-row {
    display: flex !important;
    justify-content: left !important;
    padding-top: 0;
    padding-bottom: 10px;
}

.email-button {
    font-size: medium;
    height: 40px;
    width: auto;
    border-radius: 5px;
    border-color: grey;
    background-color:var(--button-color);
    color: white;
    border: none;
}

#send-button {
    border-style: solid;
    border-color: var(--button-color);
    /* border-color: grey; */
    border-width: 2px;
}

#draft-button {
    border-color: var(--button-color);
    border-style: solid;
    border-width: 2px;
}

button>img {
    color: white;
}

i.button-icon {
    color: white;
}

input:focus {
    /* outline: none; */
}
