:root {
    --bg-color: white;
    --button-color: #1189df;
    --accent-color: darkslategray;
}

body {
    background-color: var(--bg-color);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-weight: lighter;
}

.email-editor-section {
    margin: auto;
    width: auto;
}

.editor-row {
    border-color: var(--accent-color);
    margin: 5px;
}

input {
    padding-left: 12px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    background-color: white;
}

.validation-modal {
    visibility: hidden;
}

/* Remove the border of TinyMCE's default editor */
.tox-tinymce {
    border-style: solid !important;
    border-radius: 5px !important;
    border-color: var(--accent-color) !important;
    border-width: 1px !important;
}

.email-field {
    width: 30%;
    height: auto;
    border: none;
    padding: 5px;
    line-height: 30px;
    font-size: medium;
    padding-left: 12px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    background-color: white;
}

#button-row {
    display: flex !important;
    justify-content: left !important;
    padding-top: 0;
    padding-bottom: 10px;
}

.email-button {
    font-size: medium;
    height: 40px;
    width: auto;
    border-radius: 5px;
    border-color: grey;
    background-color:var(--button-color);
    color: white;
    border: none;
}

.email-body-div {
    height: auto;
}

#send-button {
    border-style: solid;
    border-color: var(--button-color);
    border-width: 2px;
}

#draft-button {
    border-color: var(--button-color);
    border-style: solid;
    border-width: 2px;
}

#error-modal {
    visibility: hidden;
    color: red;
}
